body{
    font-family: sans-serif;
background-color: rgb(248, 248, 248);
}
.logo {
    position: absolute;
}
.logo img{
    margin: auto;
    width: 80%;
    opacity: 0.65;
}
.imagenes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.imagenes-container .imagen{
    position: relative;
    margin-right: -20px;
    display: inline-flex;
    flex-direction: column;
   
}
.imagenes-container .imagen img{
    width: auto;
    height: 300px;
    transition: transform 0.32s ease-in-out;
}

.imagenes-container .imagen .nombre{
    position: absolute;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: 320px;
   
    padding: 10px 15px;
   
   
}
.imagenes-container .imagen .nombre .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width:  150px;
    text-align: center;
    box-sizing: border-box;
}
.imagenes-container .imagen:hover .nombre{
    display: inline-block;
    transform: translateY(-20px)
}
/*Triangulo*/
.imagenes-container .imagen .nombre::before {
    content: "";
    position: absolute;
    width:  1px;
    height: 1px;
    left: 45%;
    bottom: 42px;  
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
.imagenes-container .imagen:hover img{
    transform: translateY(-20px);
    filter: drop-shadow(5px 5px 5px #000000);

}
@media (max-width: 680px){
    .imagenes-container{
        flex-direction: column;
        height: 180vh;
    }
}